

<div class="pull-left col-md-12 clearfix" >

<div class="col-md-8">
<h1>
  <%= @playlist.title %>
</h1>
<h2> by <%= @playlist.user %></h2>
<div id="jquery_jplayer_1" class="jp-jplayer"></div>
<div id="jp_container_1" class="jp-audio" role="application" aria-label="media player">
  <div class="jp-type-single">
    <div class="jp-gui jp-interface">
     
      <br/>
      <div class="jp-controls-holder">
        <div class="jp-controls">
          <a class="jp-play" role="button" tabindex="0"><i class="glyphicon glyphicon-play"></i></a>
          <a class="jp-stop" role="button" tabindex="0"><i class="fa fa-play"></i></a>
        </div>
        <div class="jp-progress">
          <div class="jp-seek-bar">
            <div class="jp-play-bar"></div>
          </div>
        </div>
        <br/>
        <span class="jp-current-time" role="timer" aria-label="time">&nbsp;</span> | 
        <span class="jp-duration" role="timer" aria-label="duration">&nbsp;</span>
        <br/><br/>
         <div class="jp-volume-controls">
        <button class="jp-mute" role="button" tabindex="0"></button>
        <button class="jp-volume-max" role="button" tabindex="0"></button>
        <span class="pull-right label label-success" ><i class="glyphicon glyphicon-play" ></i><%= pluralize(@playlist.plays, 'play') %></span>
        <div class="jp-volume-bar">
          <div class="jp-volume-bar-value"></div>
        </div>
      </div>
      <br/>
      </div>
    </div>
    <div class="jp-details">
      <div class="jp-title" aria-label="title">&nbsp;</div>
    </div>
    <div class="jp-no-solution">
      <span>Update Required</span>
      To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
    </div>
  </div>
</div>
  <br/>
  <p class="well" >
  <%= @playlist.description %>

  </p>


<div id="jp_container_1">
  <div class="jp-playlist">
    <ul class="list-group">
      <li class="list-group-item">
        <h3></h3>
      </li>
    </ul>
  </div>
</div>




</div>  

<div class="col-md-4">
  <br/>
    <%= image_tag @playlist.image.url(:standard) %>
</div>

</div>


<%= link_to 'Edit', edit_playlist_path(@playlist) %> |
<%= link_to 'Back', playlists_path %>


</hr/>

 <script type="text/javascript">


    $(document).ready(function(){

       urls = <%=raw @tracklist.reverse.to_json %>;

              playlist = [
        ]; // Empty playlist

        for (i = 0; i < urls.length; i++) 
          // var p = i+1;

        playlist[i] = {
          title:urls[i]['song'],
          artist:urls[i]['artist'],
          mp3: urls[i]['audio'],
          poster: "http://www.jplayer.org/audio/poster/Miaow_640x360.png"
        }

        $("#jquery_jplayer_1").jPlayer({
        ready: function () {
          $(this).jPlayer("setMedia", playlist[0]);
        },
        cssSelectorAncestor: "#jp_container_1",
        swfPath: "/js",
        supplied: "mp3, oga",
        useStateClassSkin: true,
        autoBlur: true,
        smoothPlayBar: true,
        keyEnabled: true,
        remainingDuration: true,
        toggleDuration: true,
        preload: 'auto'
      });

      cssSelector = { jPlayer: "#jquery_jplayer_1", cssSelectorAncestor: "#jp_container_1" };

      options = { swfPath: "/js", supplied: "ogv, m4v, oga, mp3" };
      myPlaylist = new jPlayerPlaylist(cssSelector, playlist, options);

     

      


    });

$(document).ready(function(){
  $('a.jp-playlist-item').attr('href', 'javascript: void(0)');
  $('.jp-play-bar').addClass('');

  $('.jp-play').on('click', function(){
    var id = 199;
    $.ajax("<%=raw playlist_play_url(@playlist) %>");
  })

});




  </script>


  <% unless current_user && current_user.admin? %>

<style type="text/css">
  a.jp-playlist-item, .jp-seek-bar {
    pointer-events: none;
   cursor: default;
}
</style>

<% end %>



