
            <section class="scrollable wrapper">

              <div class="row">
                <div class="col-sm-8">
                  <div class="panel wrapper-lg">
                    <div class="row">
                      <div class="col-sm-5">  

                        <%= image_tag @playlist.image.url(), :class => "img-full m-b" %>
                      </div>
                      <div class="col-sm-7">
                        <h2 class="m-t-none text-black"><%= @playlist.title.titleize %></h2>
                        <div class="clearfix m-b-lg">
                          <a href="#" class="thumb-sm pull-left m-r">
                            <img src="<%= @playlist.user.profile.image.url(:thumbnail) %>" class="img-circle">
                          </a>
                          <div class="clear ">
                            <a href="<%= profile_path(@playlist.user.profile) %>" class="text-info">by <%= @playlist.user.profile.display_name %></a>
                            <small class="block text-muted">245 followers / 55 following</small>
                          </div>
                        </div>
                        <div class="m-b-lg jp-controls">
                          <a href="" class="btn btn-info jp-play"><i class="icon-control-play i-1x"> </i><%= pluralize(@playlist.plays, "Play") %></a> 
                          <!-- <a href="#" class="btn btn-default">3 Comments</a> -->
                        </div>
                        <div>
                          Tags: <% @playlist.tags.each do |tag| %>
                          <a href="#" class="badge bg-light"><%= tag %></a>
                          <% end %>
                        </div>
                         <div class="m-t well">
                      <p><%= @playlist.description %></p>
                    </div>
                      </div>
                    </div>
                   
                    <h4 class="m-t-lg m-b">Play List</h4>

                 <div id="jquery_jplayer_1" class="jp-jplayer"></div>
                      <ul class="list-group list-group-lg">
                      <% @tracklist.reverse.each do |track| %>
                        <li class="list-group-item">
                          <div class="pull-right m-l ">
                       <!--      <a href="#" class="m-r-sm"><i class="icon-cloud-download"></i></a>
                            <a href="#" class="m-r-sm"><i class="icon-plus"></i></a>
                            <a href="#"><i class="icon-close"></i></a> -->
                            <a href="<%= track_path(track) %>"><i class="icon-link"></i></a>
                          </div>
                          <a href="#" class="jp-play-me m-r-sm pull-left hidden">
                            <i class="icon-control-play text"></i>
                            <i class="icon-control-pause text-active"></i>
                          </a>
                          <div class="clear text-ellipsis">
                            <span><%= track.song %></span>
                            <span class="text-muted"> -- <%= track.artist %></span>
                          </div>
                        </li>
                        <% end %>
                      </ul>
     
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="panel panel-default">
                    <div class="panel-heading">Suggestions</div>
                    <div class="panel-body">
                    <% @playlists.each do |playlist| %>
                      <article class="media">
                        <a href="<%= playlist_path(playlist) %>" class="pull-left thumb-md m-t-xs">
                          <img src="<%= playlist.image.url(:thumbnail) %>">
                        </a>
                        <div class="media-body">                        
                          <a href="<%= playlist_path(playlist) %>" class="font-semibold"><%= playlist.title.titleize %></a>
                          <div class="text-xs block m-t-xs"><a href="<%= profile_path(playlist.user.profile) %>"><%= playlist.user.profile.display_name %></a></div>
                        </div>
                      </article>
                      <% end %>
                     
                    </div>
                  </div>
                </div>
              </div>

</section>              <br/><br/><br/>

 <script type="text/javascript">


    $(document).ready(function(){

       urls = <%=raw @tracklist.reverse.to_json %>;

              playlist = [
        ]; // Empty playlist

        for (i = 0; i < urls.length; i++) 
          // var p = i+1;

        playlist[i] = {
          title:urls[i]['song'],
          artist:urls[i]['artist'],
          mp3: urls[i]['audio'],
          poster: "http://www.jplayer.org/audio/poster/Miaow_640x360.png"
        }

        $("#jquery_jplayer_1").jPlayer({
        ready: function () {
          $(this).jPlayer("setMedia", playlist[0]);
        },
        cssSelectorAncestor: "#jp_container_1",
        swfPath: "/js",
        supplied: "mp3, oga",
        useStateClassSkin: true,
        autoPlay: true,
        autoBlur: true,
        smoothPlayBar: true,
        keyEnabled: true,
        remainingDuration: true,
        toggleDuration: true,
        preload: 'auto'
      });

      cssSelector = { jPlayer: "#jquery_jplayer_1", cssSelectorAncestor: "#jp_container_1" };

      options = { swfPath: "/js", supplied: "ogv, m4v, oga, mp3" };
      myPlaylist = new jPlayerPlaylist(cssSelector, playlist, options);

     

      


    });

$(document).ready(function(){
  $('a.jp-playlist-item').attr('href', 'javascript: void(0)');
     urls = <%=raw @tracklist.reverse.to_json %>;

              playlist = [
        ]; // Empty playlist

        for (i = 0; i < urls.length; i++) 
          // var p = i+1;

        playlist[i] = {
          title:urls[i]['song'],
          artist:urls[i]['artist'],
          mp3: urls[i]['audio'],
          poster: "http://www.jplayer.org/audio/poster/Miaow_640x360.png"
        }

        $("#jquery_jplayer_1").jPlayer({
        ready: function () {
          $(this).jPlayer("setMedia", playlist[0]);
        },
        cssSelectorAncestor: "#jp_container_1",
        swfPath: "/js",
        supplied: "mp3, oga",
        useStateClassSkin: true,
        autoBlur: true,
        smoothPlayBar: true,
        keyEnabled: true,
        remainingDuration: true,
        toggleDuration: true,
        preload: 'auto'
      });

      cssSelector = { jPlayer: "#jquery_jplayer_1", cssSelectorAncestor: "#jp_container_1" };

      options = { swfPath: "/js", supplied: "ogv, m4v, oga, mp3" };
      myPlaylist = new jPlayerPlaylist(cssSelector, playlist, options);

  $('.jp-play').on('click', function(e){
    
    e.preventDefault();
 
      myPlaylist.play();
          $.ajax("<%=raw playlist_play_url(@playlist) %>");
    console.log('play');  

  })

});




  </script>




