


              <div class="row">
                <div class="col-sm-8">
                  <div class="panel wrapper-lg">
                    <div class="row">
                      <div class="col-sm-5">
                        
                        <%= image_tag @playlist.image.url(:standard), :class => "img-full m-b" %>
                      </div>
                      <div class="col-sm-7">
                        <h2 class="m-t-none text-black"><%= @playlist.title %></h2>
                        <div class="clearfix m-b-lg">
                          <a href="#" class="thumb-sm pull-left m-r">
                            <img src="images/a0.png" class="img-circle">
                          </a>
                          <div class="clear">
                            <a href="#" class="text-info">by <%= @playlist.user %></a>
                            <small class="block text-muted">2,415 followers / 225 following</small>
                          </div>
                        </div>
                        <!-- <div class="m-b-lg">
                          <a href="#" class="btn btn-info jp-play">Play</a> <a href="#" class="btn btn-default">3 Comments</a>
                        </div> -->
                        <div>
                          Tags: <a href="#" class="badge bg-light">Musik</a> <a href="#" class="badge bg-light">Pashion</a>
                        </div>
                         <div class="m-t well">
                      <p><%= @playlist.description %></p>
                    </div>
                      </div>
                    </div>
                   
                    <h4 class="m-t-lg m-b">Play List</h4>

                 <div id="jquery_jplayer_1" class="jp-jplayer"></div>
                      <ul class="list-group list-group-lg">
                      <% @tracklist.reverse.each do |track| %>
                        <li class="list-group-item">
                          <div class="pull-right m-l  hidden">
                            <a href="#" class="m-r-sm"><i class="icon-cloud-download"></i></a>
                            <a href="#" class="m-r-sm"><i class="icon-plus"></i></a>
                            <a href="#"><i class="icon-close"></i></a>
                          </div>
                          <a href="#" class="jp-play-me m-r-sm pull-left hidden">
                            <i class="icon-control-play text"></i>
                            <i class="icon-control-pause text-active"></i>
                          </a>
                          <div class="clear text-ellipsis">
                            <span><%= track.song %></span>
                            <span class="text-muted"> -- <%= track.artist %></span>
                          </div>
                        </li>
                        <% end %>
                      </ul>
     
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="panel panel-default">
                    <div class="panel-heading">Suggestions</div>
                    <div class="panel-body">
                      <article class="media">
                        <a href="#" class="pull-left thumb-md m-t-xs">
                          <img src="images/">
                        </a>
                        <div class="media-body">                        
                          <a href="#" class="font-semibold">Bootstrap 3: What you need to know</a>
                          <div class="text-xs block m-t-xs"><a href="#">Travel</a> 2 minutes ago</div>
                        </div>
                      </article>
                      <article class="media">
                        <a href="#" class="pull-left thumb-md m-t-xs">
                          <img src="images/">
                        </a>
                        <div class="media-body">                        
                          <a href="#" class="font-semibold">Lorem ipsum dolor sit amet it.</a>
                          <div class="text-xs block m-t-xs"><a href="#">Design</a> 2 hours ago</div>
                        </div>
                      </article>
                      <article class="media">
                        <a href="#" class="pull-left thumb-md m-t-xs">
                          <img src="images/">
                        </a>
                        <div class="media-body">                        
                          <a href="#" class="font-semibold">Sed diam nonummy tincidunt ut laoreet</a>
                          <div class="text-xs block m-t-xs"><a href="#">MFC</a> 1 week ago</div>
                        </div>
                      </article>
                      <article class="media">
                        <a href="#" class="pull-left thumb-md m-t-xs">
                          <img src="images/">
                        </a>
                        <div class="media-body">                        
                          <a href="#" class="font-semibold">Lonummy nibh euismod sed laoreet</a>
                          <div class="text-xs block m-t-xs"><a href="#">MFC</a> 1 week ago</div>
                        </div>
                      </article>
                      <article class="media">
                        <a href="#" class="pull-left thumb-md m-t-xs">
                          <img src="images/">
                        </a>
                        <div class="media-body">                        
                          <a href="#" class="font-semibold">Mibh euismod tincidunt ut laoreet</a>
                          <div class="text-xs block m-t-xs"><a href="#">MFC</a> 1 week ago</div>
                        </div>
                      </article>
                    </div>
                  </div>
                </div>
              </div>

              <br/><br/><br/>

 <script type="text/javascript">


    $(document).ready(function(){

       urls = <%=raw @tracklist.reverse.to_json %>;

              playlist = [
        ]; // Empty playlist

        for (i = 0; i < urls.length; i++) 
          // var p = i+1;

        playlist[i] = {
          title:urls[i]['song'],
          artist:urls[i]['artist'],
          mp3: urls[i]['audio'],
          poster: "http://www.jplayer.org/audio/poster/Miaow_640x360.png"
        }

        $("#jquery_jplayer_1").jPlayer({
        ready: function () {
          $(this).jPlayer("setMedia", playlist[0]);
        },
        cssSelectorAncestor: "#jp_container_1",
        swfPath: "/js",
        supplied: "mp3, oga",
        useStateClassSkin: true,
        autoPlay: true,
        autoBlur: true,
        smoothPlayBar: true,
        keyEnabled: true,
        remainingDuration: true,
        toggleDuration: true,
        preload: 'auto'
      });

      cssSelector = { jPlayer: "#jquery_jplayer_1", cssSelectorAncestor: "#jp_container_1" };

      options = { swfPath: "/js", supplied: "ogv, m4v, oga, mp3" };
      myPlaylist = new jPlayerPlaylist(cssSelector, playlist, options);

     

      


    });

$(document).ready(function(){
  $('a.jp-playlist-item').attr('href', 'javascript: void(0)');


  $('.jp-play').on('click', function(){
    
    $.ajax("<%=raw playlist_play_url(@playlist) %>");
    console.log('play');
    rls = <%=raw @tracklist.reverse.to_json %>;

              playlist = [
        ]; // Empty playlist

        for (i = 0; i < urls.length; i++) 
          // var p = i+1;

        playlist[i] = {
          title:urls[i]['song'],
          artist:urls[i]['artist'],
          mp3: urls[i]['audio'],
          poster: "http://www.jplayer.org/audio/poster/Miaow_640x360.png"
        }

        $("#jquery_jplayer_1").jPlayer({
        ready: function () {
          $(this).jPlayer("setMedia", playlist[0]);
        },
        cssSelectorAncestor: "#jp_container_1",
        swfPath: "/js",
        supplied: "mp3, oga",
        useStateClassSkin: true,
        autoBlur: true,
        smoothPlayBar: true,
        keyEnabled: true,
        remainingDuration: true,
        toggleDuration: true,
        preload: 'auto'
      });

      cssSelector = { jPlayer: "#jquery_jplayer_1", cssSelectorAncestor: "#jp_container_1" };

      options = { swfPath: "/js", supplied: "ogv, m4v, oga, mp3" };
      myPlaylist = new jPlayerPlaylist(cssSelector, playlist, options);

  })

});




  </script>


<% unless current_user && current_user.admin? %>

<style type="text/css">
  a.jp-playlist-item, .jp-seek-bar {
    pointer-events: none;
   cursor: default;
}
</style>

<% end %>



